@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url("../fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive; 
    --fonte-android: 'Android' , cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: ;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
    transition: .5s;

}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 170px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
}

header p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.158);

}

nav a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    transition: .5s;
    padding: 10px;
}



main {
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(90, 86, 86);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    text-shadow: 1px 1px 0px var(--cor3);
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
    font-weight: normal;
    text-shadow: 1px 1px 0px var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    margin: auto;
    display: block;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
}

aside > h3 {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to top, var(--cor4), var(--cor5));
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 0px black);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    text-decoration: none;
}

footer {
    background-image: linear-gradient(to top, var(--cor4), var(--cor5));    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}